@media only screen and (max-width: 1500px){
    section {
        max-width: 80%;
        margin: auto;
    }

    footer > ul {
        width: 35%;
    
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1100px){
    footer > ul {
        width: 45%;
    
        display: flex;
        justify-content: space-between;
    }

    .contentFotter {
        width: 10%;
    }
}

@media only screen and (max-width: 800px){
    footer > ul {
        width: 75%;
    
        display: flex;
        justify-content: space-between;
    }

    .contentFotter {
        width: 15%;
    }
}

@media only screen and (max-width: 360px){
    footer > ul {
        width: 75%;
    
        display: flex;
        justify-content: space-between;
    }

    .contentFotter {
        width: 40%;
    }

    .textFooter {
        font-family: Open Sans;
        font-size: 6px;
        font-weight: bold;
    }
}