#block1 {
  width: 80%;
    
  margin-bottom: 30px;
}

#block1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#block1 > nav > ul {
  width: 100%;

  text-align: center;
}

#block1 > nav > ul > ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

#block1 > nav > ul > ul > li {
  line-height: 20px;
}

#block1 > nav > ul > img {
  width: 60%;

  border-radius: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 16);
}

span {
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 700px;

  border: 0;
}



  

  
