.theme-dark { 
    --cursor: #fff;
    --href: #fff;
    --body-background-color: #fff;
    --color: #7b68ee;
    --logo-text: #000;
    --logo-square: rgba(0, 0, 0, 0.5);
    --logo-square-hover: rgba(255, 255, 255, 0);
    --language: #000;
    --menyText: #000;
    --text-bl2: #000;
    --textBlock2: #000;
    --vlblock2: #000;
    --textHeadBlock2: #000;
    --textNachalo: #000;
    --TextHeadingSpisok-menu: #000;
    --TextHeadSpisok-menu: #000;
    --TextManiSpisok-menu: #2c2c2c;
    --TextFooterSpisok-menu: #000;
    --nachalo-img: url(menuBlack.svg);
    --Vl-spisok-menu: #000;
    --textStolBlock2: #000;
    --textBronstol: #000;
    --textBronstol2: #000;
    --textadress: #000;
    --textadressTime: #000;
    --textbron: #000;
    --textFooter: #000;
    --vlFooter: rgba(0, 0, 0);
    --imgFooterVk: url(vk.svg);
    --imgFooterInst: url(instagram.svg);
    --imgFooterYouTode: url(youtube.svg);
    --clock: url(clock.svg);
    --name: #000;

    --kontact: #000;
    --submenuBox: rgba(0,0,0,.2);
    --submenuBG: #e8e8e8;
    --topmenuBG: #fff;
    --submenubackground: #fff;

    --bg-form: #fff;
    --form-imput: #fff;
    --form-border-bottom: #000;
    --open-form: #000;
    --border-open-form: #000;
    --bg-open-form: #fff;
    --bg-open-form-hover: #000;
    --color-open-form-hover: #fff;
    --forn-button_input: #000;
    --forn-button_input-hover: #fff;
    --forn-color-button_input: #fff;
    --forn-color-button_input-hover: #000;
    --form-with-black: #000;
    --colorInput: #000;
}

.theme-light {
    --cursor: #fff;
    --href: #fff;
    --body-background-color: rgb(12, 12, 12);
    --color: #7b68ee;
    --logo-text: #fff;
    --logo-square: rgba(255, 255, 255, 0.5);
    --logo-square-hover: rgba(255, 255, 255, 0);
    --language: #fff;
    --menyText: #fff;
    --text-bl2: #fff;
    --textBlock2: #fff;
    --textHeadBlock2: #fff;
    --vlblock2: #fff;
    --textNachalo: #fff;
    --TextHeadingSpisok-menu: #fff;
    --TextHeadSpisok-menu: #fff;
    --TextManiSpisok-menu: #fff;
    --TextFooterSpisok-menu: #fff;
    --nachalo-img: url(menuWhite.svg);
    --Vl-spisok-menu: #fff;
    --textStolBlock2: #fff;
    --textBronstol: #fff;
    --textBronstol2: #fff;
    --textadress: rgb(255, 255, 255);
    --textadressTime: rgb(255, 255, 255);
    --textbron: #fff;
    --textFooter: #fff;
    --vlFooter: rgb(255, 255, 255);
    --imgFooterVk: url(vk-wite.svg);
    --imgFooterInst: url(instagramWhite.svg);
    --imgFooterYouTode: url(youtubeWhite.svg);
    --clock: url(clock-dark.svg);
    --name: #fff;

    --kontact: #fff;
    --submenuBox: rgba(0,0,0,.2);
    --submenuBG: #222222;
    --topmenuBG: #000;
    --submenubackground: #000;

    --bg-form: rgb(12, 12, 12);
    --form-imput: rgb(12, 12, 12);
    --form-border-bottom: #fff;
    --open-form: #fff;
    --border-open-form: #fff;
    --bg-open-form: #000;
    --bg-open-form-hover: #fff;
    --forn-button_input: #fff;
    --forn-button_input-hover: rgb(12, 12, 12);
    --forn-color-button_input: #000;
    --forn-color-button_input-hover: #fff;
    --form-with-black: #fff;
    --colorInput: #fff;
}